/* 
    Created on : Nov 27, 2018, 4:19:40 PM
    Author     : Willow Gillingham wgillingham@pitt.edu
*/

.action-links {
    padding: 0;
}

.action-links a {
    padding-left: 15px;
    line-height: 20px;
    background: transparent url("../images/add.png") no-repeat 0 center;
}

.light_text {
    color: #777;
    font-weight: normal;
}